:root {
    --primary: #bb1e10;
    --bg: #0f0f10;
    --bg: black;
    --text: #f5f5f5;
    --muted: #b0b0b0;
}


#svg1 {
    transition: opacity 1.5s linear, filter 5s ease;
}

h3{
    color: var(--text);
}
.muted {
    color: var(--muted) !important;
}


* {
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--bg);

}


.label {
    font-family: 'Oswald', sans-serif;
    display: none;
}

.nav-item {
    font-size: large ;
    font-weight: 500;
    background: var(--primary);
    color: var(--text);
    border: 2pt solid var(--primary);
    border-radius: 30rem 30rem;
}
.nav-item.active {
    background: rgba(0, 0, 0, 0.4);
    color: var(--text);
    border: 2pt solid var(--primary);
    border-radius: 20px 20px 7px 7px;
}


/* stato attivo (per pagina corrente o click JS) */

.nav-item.active .label {
    display: inline;
}

/* nasconde icona quando attivo/hover */

.nav-item.active .icon {
    display: none;
}


.liquid {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-bottom: 1.6px solid rgba(255, 255, 255, 0.17);
    border-top: 2px solid rgba(255, 255, 255, 0.1);

}

/* .btn-my {
    background: var(--primary) !important;
    color: var(--text) !important;
    border: 2pt solid var(--primary) !important;
}

.my-btn.active:hover {
    background-color: #0f0f10 !important;
    color: #f5f5f5 !important;
}

.btn-my:hover {
    background: none;

} */